SUPABASE_URL=https://rceyebgawmhrqpofxysp.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjZXllYmdhd21ocnFwb2Z4eXNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxNjUyMjgsImV4cCI6MjA5MDc0MTIyOH0.yazDYqBj_eImcRiwn-2N2LFFFK-qNJ0SOQeeO8-88eQ
PORT=3000
SESSION_SECRET=crystal_feather_secret_key_999
JWT_SECRET=super_secret_crystal_feather_key_555_secure
